<!DOCTYPE html>
<html>
<head>
  <title>Fastrack14012016</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

welcome
<%= yield %>
welcome
</body>
</html>
